{% extends '/layout.html.twig' %}

{% block title %}New Card Search{% endblock %}

{% block body %}
{% include '/Scripts/api.html.twig' %}

<div class="container">

  <div id="list">

    <div class="row">
      <div class="col-sm-12">
        <h2>New Search </h2>
        <p>This page uses the <a href="{{ path('search_syntax_new') }}">✨✨✨ New Search Syntax ✨✨✨</a> to enable new features and offer a faster search experience. The <a href="{{ path('cards_find') }}">old search experience is still available</a>.</p>
        <p>If you love this experience, you can set it to be your default by selecting "Use new version of NRDB search functionality." in your <a href="{{ path('user_profile') }}">Account Profile</a> and saving.</p>
        <p>Results default to only displaying the latest printings for cards. Select "Any Printing" to display any earlier printings.</p>
        <hr>
     </div>
    </div>

    <div class="row">
       <div class="col-sm-12">
        <div class="input-group" style="margin-bottom:.5em">
          <input class="form-control" placeholder="Card Search" size="200" id="q" name="q" value="{{ query }}">

          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="search_btn">Search</button>
          </span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3" style="margin-bottom:.5em">
        <select id="format" name="format" class="form-control"></select>
      </div>

      <div class="col-sm-2" style="margin-bottom:.5em">
        <select id="printing_type" name="printing_type" class="form-control">
            <option value="latest" {% if printing_type == 'latest' %}selected{% endif %}>Latest Printing</option>
            <option value="any" {% if printing_type == 'any' %}selected{% endif %}>Any Printing</option>
        </select>
      </div>

      <div class="col-sm-4" style="margin-bottom:.5em">
        <select id="sort_field" name="sort_field" class="form-control">
            <option value="title" {% if sort == 'title' %}selected{% endif %}>Sort by Title</option>
            <option value="card_set_id" {% if sort == 'card_set_id' %}selected{% endif %}>Sort by Set Name</option>
            <option value="date_release" {% if sort == 'date_release' %}selected{% endif %}>Sort by Release Date</option>
            <option value="faction_id" {% if sort == 'faction_id' %}selected{% endif %}>Sort by Faction</option>
            <option value="card_type_id" {% if sort == 'card_type_id' %}selected{% endif %}>Sort by Type</option>
            <option value="cost" {% if sort == 'cost' %}selected{% endif %}>Sort by Cost</option>
            <option value="strength" {% if sort == 'strength' %}selected{% endif %}>Sort by Strength</option>
        </select>
      </div>

      <div class="col-sm-3" style="margin-bottom:.5em">
        <select id="view_type" name="view_type" class="form-control">
            <option value="table" {% if view == 'table' %}selected{% endif %}>View as Table</option>
            <option value="text" {% if view == 'text' %}selected{% endif %}>View as Text Only</option>
            <option value="full" {% if view == 'full' %}selected{% endif %}>View as Full Cards</option>
            <option value="images" {% if view == 'images' %}selected{% endif %}>View as Images Only</option>
        </select>
      </div>
    </div>

    <div class="row" id="num_results_row"></div>
    <div class="row" id="loading_row"></div>
    <div class="row" id="error_row"></div>

    <table id="card_results_table" style="display:none" class="rwd-table table table-striped table-condensed">
      <thead>
        <tr>
          <th>Title</th>
          <th>Faction</th>
          <th title="Cost"><span class="icon icon-credit"></span></th>
          <th>Type</th>
          <th title="Strength/Agenda Points/Trash Cost">…</th>
          <th>Subtype</th>
          <th title="Influence">•</th>
          <th>Set</th>
        </tr>
      </thead>
      <tbody id="card_results_table_body"></tbody>
    </table>

    <div id="card_results_full" class="row" style="display:none"></div>

    <div class="row">
    </div>
  </div>
</div>

<script>
// Query input and search button.
$('#search_btn').on("click", function(e) {
  doSearch();
});
$('#q').on("keyup", function(e) {
  if (e.keyCode == 13) {
    doSearch();
  }
});

$('#printing_type').on('change', function(e) {
  if (searchResults == null || searchResults.errors) {
    return;
  }

  // Update history, but in an unhelpful way.  The URL changes, but the back/forward buttons don't do anything helpful ATM.
  let url = new URL(window.location.href);
  url.searchParams.set('printing_type', e.target.value);
  history.pushState(history.state, '', url.href);
  // Save printing type selection to local storage so it can be the default for future searches.
  localStorage.setItem('new_search_printing_type', e.target.value);

  resetContainers();
  setToLoading();
  sortResults();
  clearLoading();
  populateResults();
  displayResults();
});

// Sort field selector.
$('#sort_field').on('change', function(e) {
  if (searchResults == null || searchResults.errors) {
    return;
  }

  // Update history, but in an unhelpful way.  The URL changes, but the back/forward buttons don't do anything helpful ATM.
  let url = new URL(window.location.href);
  url.searchParams.set('sort', e.target.value);
  history.pushState(history.state, '', url.href);
  // Save sort selection to local storage so it can be the default for future searches.
  localStorage.setItem('new_search_sort', e.target.value);

  resetContainers();
  setToLoading();
  sortResults();
  clearLoading();
  populateResults();
  displayResults();
});

// Display view type selector.
$('#view_type').on('change', function(e) {
  if (searchResults == null || searchResults.errors) {
    return;
  }

  const t = e.target;

  // Update history, but in an unhelpful way.  The URL changes, but the back/forward buttons don't do anything helpful ATM.
  let url = new URL(window.location.href);
  url.searchParams.set('view', e.target.value);
  history.pushState(history.state, '', url.href);
  // Save view selection to local storage so it can be the default for future searches.
  localStorage.setItem('new_search_view', t.value);

  // Hide all containers.
  for (o of t.options) {
    const e = $(`#card_results_${o.value}`);
    if (e.length && !o.selected) {
      e.hide();
    } else if (o.value == 'text') {
      $('[id^="card_results_text_row_"]').hide();
    } else if (o.value == 'images') {
      $('[id^="card_results_images_row_"]').hide();
    }
  }

  // Show selected containers.
  for (o of t.options) {
    const e = $(`#card_results_${o.value}`);
    if (e.length && o.selected) {
        e.show();
    } else if (o.selected && o.value == 'text') {
      $('[id^="card_results_text_row_"]').show();
    } else if (o.selected && o.value == 'images') {
      $('[id^="card_results_images_row_"]').show();
    }
  }
});

let lastSearchUrl = null;
let lastPrintingType = null;
let [searchResults, cardSets, cardCycles, cardTypes, factions] = [null, null, null, null, null];
let numResults = 0;
const cardCycleMap = new Map();
const cardSetMap = new Map();
const cardTypeMap = new Map();
const factionMap = new Map();
const formatMap = new Map();

let formatFromController = '{{ format }}'

function setDisplayDefaults() {
  const formatSelector = $('#format');
  const formatSetting = localStorage.getItem('new_search_format');
  const formatParam = new URLSearchParams(window.location.search).get('format');
  if ((formatParam == null || !$(`#format option[value="${formatParam}"]`).length) && formatSetting != null && $(`#format option[value="${formatSetting}"]`).length) {
    formatSelector.val(formatSetting);
  }

  const printingTypeSelector = $('#printing_type');
  const printingTypeSetting = localStorage.getItem('new_search_printing_type');
  const printingTypeParam = new URLSearchParams(window.location.search).get('printing_type');
  if ((printingTypeParam == null || !$(`#printing_type option[value="${printingTypeParam}"]`).length) && printingTypeSetting != null && $(`#printing_type option[value="${printingTypeSetting}"]`).length) {
    printingTypeSelector.val(printingTypeSetting);
  }

  const sortSelector = $('#sort_field');
  const sortSetting = localStorage.getItem('new_search_sort');
  const sortParam = new URLSearchParams(window.location.search).get('sort');
  if ((sortParam == null || !$(`#sort_field option[value="${sortParam}"]`).length) && sortSetting != null && $(`#sort_field option[value="${sortSetting}"]`).length) {
    sortSelector.val(sortSetting);
  }

  const viewSelector = $('#view_type');
  const viewSetting = localStorage.getItem('new_search_view');
  const viewParam = new URLSearchParams(window.location.search).get('view');
  if ((viewParam == null || !$(`#view_type option[value="${viewParam}"]`).length) && viewSetting != null && $(`#view_type option[value="${viewSetting}"]`).length) {
    viewSelector.val(viewSetting);
  }
}

async function loadSupportingData() {
  console.log('Loading supporting data...');
  [cardSets, cardCycles, cardTypes, factions, formats] = await Promise.all([
      fetchJson(`{{ v3_api_url }}/api/v3/public/card_sets`),
      fetchJson(`{{ v3_api_url }}/api/v3/public/card_cycles`),
      fetchJson(`{{ v3_api_url }}/api/v3/public/card_types`),
      fetchJson(`{{ v3_api_url }}/api/v3/public/factions`),
      fetchJson(`{{ v3_api_url }}/api/v3/public/formats`),
  ]);
  console.log('fetched supporting data...');
  cardCycles.data.forEach((cc) => {
    cardCycleMap.set(cc.id, cc);
  })
  cardSets.data.forEach((cs) => {
    cardSetMap.set(cs.id, cs);
  })
  cardTypes.data.forEach((t) => {
    cardTypeMap.set(t.id, t);
  })
  factions.data.forEach((f) => {
    factionMap.set(f.id, f);
  })
  formats.data.forEach((f) => {
    // Don't expose the RAM format.
    if (f.id != 'ram') {
      formatMap.set(f.id, f);
    }
  })
}

function buildSearchUrl(query) {
  return `{{ v3_api_url }}/api/v3/public/printings?&page[size]=5000&filter[search]=${encodeURIComponent(query)}`;
}

async function fetchResults(queryUrl) {
  console.time('fetchResults');
  searchResults = await fetchJson(queryUrl);
  console.timeEnd('fetchResults');
}

function sortResults() {
  // Sort results (this needs to refactored a bit so sorting can be done without refetching data).
  searchResults.data.sort((a, b) => {
    const sortBy = $('#sort_field').val();
    if (sortBy == 'card_set_id') {
      if (a.attributes[sortBy][0] < b.attributes[sortBy][0]) {
        return -1;
      } else if (a.attributes[sortBy][0] > b.attributes[sortBy][0]) {
        return 1;
      } else {
        return 0;
      }
    } else {
      if (a.attributes[sortBy] < b.attributes[sortBy]) {
        return -1;
      } else if (a.attributes[sortBy] > b.attributes[sortBy]) {
        return 1;
      } else {
        return 0;
      }
    }
  });
}

function populateResults() {
  let rowNum = 0;
  let textOnlyRowNum = 0;
  let textOnlyCardNum = 0;
  let textOnlyCardsPerRow = 3;
  let imagesRowNum = 0;
  let imagesCardNum = 0;
  let imagesPerRow = 4;

  const latestPrintingOnly = $('#printing_type').val() == 'latest';

  numResults = 0;

  searchResults.data.forEach( (card) => {
    if (latestPrintingOnly && !card.attributes.is_latest_printing) {
      return;
    }
    numResults++;
    let rowType = rowNum % 2 == 0 ? 'even' : 'odd';
    let cost = '';
    if (card.attributes.card_type_id == 'agenda') {
      cost = card.attributes.advancement_requirement;
    } else if (!['corp_identity', 'runner_identity'].includes(card.attributes.card_type_id)) {
      cost = card.attributes.cost;
    }
    let strengthAgendaPointsTrashCost = '';
    if (['ice', 'program'].includes(card.attributes.card_type_id) && card.attributes.strength !== null) {
      strengthAgendaPointsTrashCost = card.attributes.strength == -1 ? 'X' : card.attributes.strength;
    } else if (card.attributes.card_type_id == 'agenda') {
      strengthAgendaPointsTrashCost = card.attributes.agenda_points;
    } else if (card.attributes.trash_cost !== null) {
      strengthAgendaPointsTrashCost = card.attributes.trash_cost;
    }
    let influence = card.attributes.influence_cost > 0 ? card.attributes.influence_cost : 0;

    let illustrators = [];
    card.attributes.illustrator_names.forEach((illustrator) => {
      const search = Routing.generate('cards_find', {type:'find', 'view':'images', 'q':`i:"${illustrator}"`});

      illustrators.push(`<a href="${search}">${illustrator}</a>`);
    });
    let illustratorText = illustrators.join(' • ');

    // Checklist view
    let rowContents = `
      <tr class="even">
        <td data-th="Title">
          <a href="${printingToLink(card)}" class="card${card.attributes.date_release >= new Date().toISOString().substr(0,10) ? '-preview' : ''}" data-index="${card.id}" data-hasqtip="1">${card.attributes.title}</a>
        </td>
        <td data-th="Faction">
          <div class="table-cell">
            <svg class="typeIcon" data-icon-color="${card.attributes.faction_id.replaceAll('_', '-')}" aria-label="${card.attributes.faction_id.replaceAll('_', '-')}"><use xlink:href="/images/icons.svg#faction-${card.attributes.faction_id.replaceAll('_', '-')}"></use></svg>
          </div>
        </td>
        <td data-th="Cost">${cost}</td>
        <td data-th="Type">${cardTypeMap.get(card.attributes.card_type_id).attributes.name}</td>
        <td data-th="…">${strengthAgendaPointsTrashCost}</td>
        <td data-th="Subtype">${card.attributes.display_subtypes == null ? '' : card.attributes.display_subtypes}</td>
        <td data-th="Influence">
                    <span class="influence-${card.attributes.faction_id.replaceAll('_', '-')}" aria-label="${influence} Influence">${'●'.repeat(influence)}&nbsp;</span>
                </td>
        <td data-th="Set"><span class="icon icon-${card.attributes.card_cycle_id.replaceAll('_', '-')}"></span> ${cardSetMap.get(card.attributes.card_set_id).attributes.name} ${card.attributes.position}</td>
      </tr>`;
    $('#card_results_table_body').append(rowContents);

    // Text view
    // Insert a new row every imagesPerColumn
    if (textOnlyCardNum % textOnlyCardsPerRow == 0) {
      textOnlyRowNum++;
      $('#list').append(`<div class="row" id="card_results_text_row_${textOnlyRowNum}" style="display: none"></div>`);
    }
    textOnlyCardNum++;

    let fakeCard = { text: card.attributes.text };

    let cardProps = '';
    if (card.attributes.card_type_id == 'agenda') {
      cardProps = `Adv: ${card.attributes.advancement_requirement} &bull; Score: ${card.attributes.agenda_points}`;
    } else if (['asset', 'upgrade'].includes(card.attributes.card_type_id)) {
      cardProps = `Rez: ${card.attributes.cost} &bull; Trash: ${card.attributes.trash_cost} &bull; Influence: ${card.attributes.influence_cost}`;
    } else if (card.attributes.card_type_id == 'corp_identity') {
      cardProps = `Deck: ${card.attributes.minimum_deck_size} &bull; Influence: ${card.attributes.influence_limit ?? '∞'}`;
    } else if (card.attributes.card_type_id == "runner_identity") {
      cardProps = `Link: ${card.attributes.base_link} &bull; Deck: ${card.attributes.minimum_deck_size} &bull; Influence: ${card.attributes.influence_limit ?? '∞'}`;
    } else if (['operation', 'event'].includes(card.attributes.card_type_id)) {
      cardProps = `Cost: ${card.attributes.cost} ${card.attributes.trash_cost != null ? `&bull; Trash: ${card.attributes.trash_cost}` : ''} &bull; Influence: ${card.attributes.influence_cost}`;
    } else if (['resource', 'hardware'].includes(card.attributes.card_type_id)) {
      cardProps = `Install: ${card.attributes.cost} &bull; Influence: ${card.attributes.influence_cost}`;
    } else if (card.attributes.card_type_id == "program") {
      cardProps = `Install: ${card.attributes.cost} &bull; Memory: ${card.attributes.memory_units} &bull; Strength: ${card.attributes.strength ?? '-'} &bull; Influence: ${card.attributes.influence_cost}`;
    } else if (card.attributes.card_type_id == "ice") {
      cardProps = `Rez: ${card.attributes.cost} &bull; Strength: ${card.attributes.strength} ${card.attributes.trash_cost != null ? `&bull; Trash: ${card.attributes.trash_cost}` : ''} &bull; Influence: ${card.attributes.influence_cost}`;
    }

    $(`#card_results_text_row_${textOnlyRowNum}`).append(`
      <div class="col-sm-4" style="margin-bottom:1.5em">
        <h4>
          <a href="${printingToLink(card)}" class="card-title${card.attributes.date_release >= new Date().toISOString().substr(0,10) ? ' card-preview' : ''}">${card.attributes.title}</a>
        </h4>
        <div class="card-info">
        <p>
          <span class="card-type">${cardTypeMap.get(card.attributes.card_type_id).attributes.name}</span><span class="card-keywords">${card.attributes.display_subtypes == null ? '' : ': ' + card.attributes.display_subtypes}</span>
        </p>
        <p class="card-props">
          ${cardProps}
        </p>
      </div>
        <div class="card-text border-${card.attributes.faction_id.replaceAll('_', '-')}">
          ${NRDB.format.text(fakeCard)}
        </div>
        <p class="card-flavor" style="font-size:86.5%">
          ${card.attributes.flavor == null ? '' : card.attributes.flavor + '<br>'}
          ${card.attributes.attribution == null ? '' : '<strong>' + card.attributes.attribution + '</strong>'}
        </p>
        <p style="font-size:86.5%">${illustratorText}</p>
        <p>
          <span class="icon icon-${card.attributes.card_cycle_id.replaceAll('_', '-')}"></span> ${cardSetMap.get(card.attributes.card_set_id).attributes.name} ${card.attributes.position} • ${factionMap.get(card.attributes.faction_id).attributes.name}
        </p>
      </div>
    `);

    // Image view
    // Insert a new row every imagesPerColumn
    if (imagesCardNum % imagesPerRow == 0) {
      imagesRowNum++;
      $('#list').append(`<div class="row" id="card_results_images_row_${imagesRowNum}" style="display: none"></div>`);
    }
    imagesCardNum++;

    $(`#card_results_images_row_${imagesRowNum}`).append(`
      <div class="col-sm-3" style="margin-bottom:30px">
        <a href="${printingToLink(card)}" class="no-popup"><img data-src="${card.attributes.images.nrdb_classic.large}" alt="${card.attributes.title}" style="width:100%" class="img-responsive card-image ls-is-cached lazyloaded" src="${card.attributes.images.nrdb_classic.large}"></a>
      </div>
    `);

    // Full view
    $('#card_results_full_contents').append(`
      <div class="col-sm-7" style="margin-bottom:2em">
        <div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title card-title">
                <a href="${printingToLink(card)}" class="card-title" data-hasqtip="1" aria-describedby="qtip-1">${card.attributes.title}</a>
              </h3>
            </div>
            <div class="panel-body">
              <div class="card-info">
                <span class="card-type">${cardTypeMap.get(card.attributes.card_type_id).attributes.name + (card.attributes.display_subtypes == null ? '' : ': ' + card.attributes.display_subtypes)}</span>
                <span class="card-prop">&bull; ${cardProps}</span>
              </div>
              <div class="card-text border-${card.attributes.faction_id.replaceAll('_', '-')}">
                ${NRDB.format.text(fakeCard)}
              </div>
              <div class="card-flavor">
                <small>
                  ${card.attributes.flavor == null ? '' : card.attributes.flavor + '<br>'}
                  ${card.attributes.attribution == null ? '' : '<strong>' + card.attributes.attribution + '</strong>'}
                </small>
              </div>
              <div class="card-illustrator">
                <small>
                ${factionMap.get(card.attributes.faction_id).attributes.name} •
                ${illustratorText} •
                <span class="icon icon-${card.attributes.card_cycle_id.replaceAll('_', '-')}"></span>
                ${cardSetMap.get(card.attributes.card_set_id).attributes.name} ${card.attributes.position}
                </small>
              </div>
            </div>
          </div>
        </div>
      </div>
    `);
    $('#card_results_full_contents').append(`
      <div class="col-sm-5" style="margin-bottom:2em">
        <div class="card-image">
          <img data-src="${card.attributes.images.nrdb_classic.large}" alt="${card.attributes.title}" class="img-responsive card-image ls-is-cached lazyloaded" style="margin:auto" src="${card.attributes.images.nrdb_classic.large}">
        </div>
      </div>
    `);
  });
}

// Show the desired display format.
function displayResults() {
  if (searchResults != null && !searchResults.errors) {
    $('#num_results_row').append(`
      <div class="col-sm-12" style="margin-top:10px">
        <p class="alert alert-info">${numResults} result${numResults != 1 ? 's' : ''} found.</p>
      </div>
    `);
    $('#num_results_row').show();
  }
  if ($('#view_type').val() == 'table') {
    $('#card_results_table').show();
  } else if ($('#view_type').val() == 'text') {
    $('[id^="card_results_text_row_"]').show();
  } else if ($('#view_type').val() == 'full') {
    $('[id^="card_results_full"]').show();
  } else if ($('#view_type').val() == 'images') {
    $('[id^="card_results_images_row_"]').show();
  }
}

function resetContainers() {
  // Hide and reset containers.
  $('#num_results_row').hide();
  $('#num_results_row').empty();
  $('#error_row').hide();
  $('#error_row').empty();
  $('#card_results_table').hide();
  $('#card_results_table_body').empty();
  $('#card_results_full').hide();
  $('#card_results_full').empty();
  $('#card_results_full').append('<div class="col-md-9"><div class="row" id="card_results_full_contents"></div></div>');
  $('[id^="card_results_text_row_"]').hide();
  $('[id^="card_results_text_row_"]').remove();
  $('[id^="card_results_images_row_"]').hide();
  $('[id^="card_results_images_row_"]').remove();
}

function setToLoading() {
  // Add a temporary loading indicator
  $('#loading_row').append(loading_icon);
}

function clearLoading() {
  // Remove the loading indicator
  $('.temp-loading').remove();
}

function setSearchControlState(isDisabled) {
  $('#q').prop('disabled', isDisabled);
  $('#format').prop('disabled', isDisabled);
  $('#search_btn').prop('disabled', isDisabled);
  $('#printing_type').prop('disabled', isDisabled);
  $('#sort_field').prop('disabled', isDisabled);
  $('#view_type').prop('disabled', isDisabled);
  $('#sort').prop('disabled', isDisabled);
}

async function doSearch() {
  let q = $('#q');

  // Do not allow an empty search.
  if (q.val().trim() == '') {
    // In case any results were displayed, clear them.
    resetContainers();
    return;
  }

  // Lock query fields.
  setSearchControlState(true /* isDisabled */);

  lastPrintingType = $('#printing_type').val();
  let searchQuery = q.val().trim();
  // Append is_latest_printing:true to the search query if latest printing is selected and the query doesn't already specify is_latest_printing.
  if (searchQuery.match(/is_latest_printing:/)) {
    $('#printing_type').val('any');
  }

  if (!searchQuery.match(/format:/) && $('#format').val() != 'any') {
    searchQuery += ` format:${$('#format').val()}`;
  }
  let searchUrl = buildSearchUrl(searchQuery);

  // Exit and reset if the search URL has not changed to avoid unnecessary fetches.
  if (lastSearchUrl == searchUrl) {
    setSearchControlState(false /* isDisabled */);
    return;
  }

  lastSearchUrl = searchUrl;

  // Update history, but in an unhelpful way.  The URL changes, but the back/forward buttons don't do anything helpful ATM.
  let url = new URL(window.location.href);
  url.searchParams.set('q', q.val());
  history.pushState(history.state, '', url.href);

  resetContainers();
  setToLoading();

  await fetchResults(buildSearchUrl(searchQuery));

  clearLoading();

  // API Server error.
  if (searchResults.errors) {
    $('#error_row').append(`
      <div class="col-sm-12" style="margin-top:10px">
        <p class="alert alert-danger">An error occurred: ${searchResults.errors[0].detail}</p>
      </div>
    `);
    $('#error_row').show();

    // Unlock query fields.
    setSearchControlState(false /* isDisabled */);
    return;
  }

  if (searchResults.data.length === 0) {
    // No results found.
    $('#error_row').append(`
      <div class="col-sm-12" style="margin-top:10px">
        <p class="alert alert-warning">No results found.</p>
      </div>
    `);
    $('#error_row').show();
  } else {
    // Results!
    sortResults();
    populateResults();
    displayResults();
  }
  // Unlock query fields.
  setSearchControlState(false);
}

(async () => {
  console.time('loadSupportingData');
  loadSupportingData().then(() => {
    console.timeEnd('loadSupportingData');

    // populate format selector and add event handler

    $('#format').append(`<option value="any">Format: Any</option>`);
    formatMap.forEach((format) => {
      $('#format').append(`<option value="${format.id}" ${format.id == formatFromController ? 'selected' : ''}>Format: ${format.attributes.name} (active)</option>`);
      $('#format').append(`<option value="${format.id}-latest" ${(format.id + "-latest") == formatFromController ? 'selected' : ''}>Format: ${format.attributes.name} (latest)</option>`);
    });

    setDisplayDefaults();

    $('#format').on('change', function(e) {
      if (searchResults == null || searchResults.errors) {
        return;
      }

      // Update history, but in an unhelpful way.  The URL changes, but the back/forward buttons don't do anything helpful ATM.
      let url = new URL(window.location.href);
      url.searchParams.set('format', e.target.value);
      history.pushState(history.state, '', url.href);
      // Save format selection to local storage so it can be the default for future searches.
      localStorage.setItem('new_search_format', e.target.value);

      // Format changes *will* trigger new searches because the format is part of the search query.
      doSearch();
    });

    doSearch();
});
})();

</script>
{% endblock %}
